<!DOCTYPE html>
    <head>
        <html lang="en" dir="ltr">
        <meta charset="utf-8">
        <title>Recommendations</title>
        <style type="text/css">    
          body
          {
            border: 2px solid black;
            padding: 0px;
            background-color : #FBD4D5;
            background-size: 1000px 950px; 
            background-position: right center;
            } 
div.fixed {
  position: fixed;
  right: 0;
  
}

        </style>  
    </head>

    <body>
        {% extends "template.html" %}
        {% block content %}
            
            <h1><font color="midnightblue"><Center><strong>Here are the top-20 movies that you'll most probably like:</Center></strong></font></h1>
            <div class = "fixed">
            <image src ="{{url_for('static', filename = 'images/man.png')}}"  width="400" height="500"></image></div>
            <center><p>{{ table }}</p></center>
            <br><a href="profile"><button> Go Home</a></button>
        {% endblock %}
    </body>
</html>
